<div class="card card-signin my-5">
  <div class="card-body">
    <h5 class="card-title text-center">Authentification</h5>
    <div *ngIf="userField.touched && userField.errors">
        <div class="alert alert-danger" *ngIf="userField.errors.required"> The company name is required </div>
    </div>

    <form #loginForm="ngForm" class="form-signin" (ngSubmit)="submitLogin(loginForm.form);">
      <div class="form-label-group">
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus name="username" ngModel #userField="ngModel">
        <label for="inputUsername">Username</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" ngModel #pwdField="ngModel">
        <label for="inputPassword">Password</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!loginForm.valid" >Se connecter</button>
      <hr class="my-4">
    </form>
  </div>
</div>