<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
      <img style="width: 100px;" src="assets/images/inphinity-logo-tmp.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">General <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="couples" >Couples</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bacterium" >Bacterium</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="bacteriophage" >Bacteriophage</a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown-login-navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown-login-navbar" style="right: 0;left: unset;">
          <a class="dropdown-item" (click)="signOut()">Se déconnecter</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
