<div class="container">
  <div class="families">
    <h2 >Families</h2>
    <app-pie-chart #familiesChart></app-pie-chart>
  </div>
  <div class="interactions">
    <h2 >Interactions</h2>
    <div class="ct-chart ct-golden-section" id="interactions-chart"></div>
  </div>
  <div class="contig-prot-length">
    <h2 >Contig & Protein Lengthes</h2>
    <div class="ct-chart ct-golden-section" id="contig-prot-chart"></div>
  </div>
  <div class="contig-length">
    <h2 >Contig Length</h2>
    <div class="ct-chart ct-golden-section" id="contig-length-chart"></div>
  </div>
  <div class="dna-length">
    <h2 >DNA Length</h2>
    <div class="ct-chart ct-golden-section" id="dna-length-chart"></div>
  </div>
  <div class="dna-contig">
    <h2 >DNA - Contig</h2>
    <div class="ct-chart ct-golden-section" id="dna-contig-chart"></div>
  </div>
  <div class="proteins">
    <h2 >Proteins</h2>
    <div class="ct-chart ct-golden-section" id="proteins-chart"></div>
  </div>
  <div class="gene">
    <h2 >Gene</h2>
    <div class="ct-chart ct-golden-section" id="gene-chart"></div>
  </div>

</div>