<div class="card" style="width: 18rem; margin-left: 50px; margin-bottom: 50px; float: left;" *ngVFor="let value of data">
  <div class="card-body">
    <b>Bacterieum: </b><br>{{value.bacterium}}<br>
    <b>Bacteriophage: </b><br>{{value.bacteriophage}}<br><br>
    <b>Person responsible: </b>{{value.person_responsible}}<br>
    <b>Source data: </b>{{value.source_data}}<br><br>
    <b>Type: </b>{{value.interaction_type}}<br>
    <b>Lysis: </b>
    <div style="display: inline" *ngIf="value.lysis; else showNull">{{value.lysis}}</div>
    <ng-template #showNull>-</ng-template><br>
    <b>Level of interaction: </b>{{value.level}}
  </div>
</div>
 